
.Statistic
    height: 300px
    grid-area: analitics
    width: 30%
    margin: 20% auto

    p
        animation: 1s linear appear forwards
        margin: 20px
        align-self: center

.plus
    color: green

.minus
    color: red

@keyframes appear

    0%
        opacity: 0

    100%
        opacity: 1

    